
<section class="que-estas-buscando">

   

    <% for(let i=0;i<products.length;i++){ %>
     
       

     <article>
        
        <img src="/images/<%=products[i].image%>"alt="">

        <div class="nombre-precio-mas">

        <p class="nombre">Nombre: <%= products[i].name%></p>
        <p class="precio-all">Precio: $<%= products[i].price%></p>
        <p class="ver-mas-product"><a href="/products/<%=products[i].id%>">Ver más</a></p>
    </div>

    </article>
   
     <% } %>
     
 </section>


