<footer>


    <section class="seccion1">

        <img src="/images/logo-174px.png" alt="logo">

        <div class="productos">

    <h5><a class="a-footer" href="/products">Productos</a></h5>
        <a class="a" href="/Auriculares">Auriculares</a><br>
        <a class="a" href="/Sillas">Sillas</a><br>
        <a class="a" href="/Teclados">Teclados</a><br>
        <a class="a" href="/Computadoras">Computadoras</a>

    </div>


    <div class="contacto">

        <h5>Contacto</h5>
        <p>admin@gamehome.com</p>
        <p>1133445567</p>

    </div>

    <div class="contacto">

        <h5><a class="a-footer" href="/MasInformacion">Mas información</a></h5>
        <a class="a" href="/Nosotros">Nosotros</a><br>
        <a class="a" href="/Preguntas">Preguntas frecuentes</a><br>
        <a class="a" href="/Ayuda">Ayuda</a><br>
       
    </div>




        <div class="redes">
            <a class href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.twitch.tv/"><i class="fab fa-twitch"></i></a>
        </div> <br>
        

     

    </section>

    <section class="seccion2">
        <p>Copyright © 2021 - GameHome </p>
        <p>Todos los derechos reservados</p>
    </section>


   </footer>
 